.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  height: 100%;
}

.channel-bar {
  height: 100%;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  height: 100%;
}

.channel-bar {
  height: 100%;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}
