.channel-bar {
  width: 219px;
  background-color: #2f3136;
  border-left: 1px solid #42454a;
  padding: 10px;
  display: flex;
  height: auto;
  flex-direction: column;
}

.server-name {
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.server-banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.channel-title {
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

.channel-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.channel-item {
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channel-item:hover {
  background-color: #42454a;
}

.channel-item.active {
  background-color: #7289da;
  font-weight: bold;
}
